:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1vw;
  font-weight: 400;
  --btnBlk: #1a1a1a;
}

html {
  box-sizing: border-box;
  background-color: rgb(255, 237, 214);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: var(--btnBlk);
  color: whitesmoke;
  letter-spacing: 0.025vw;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  transition: letter-spacing 0.25s;
}

button:hover {
  /* background-color: #646cff; */
  background-color: rgb(106, 61, 61);
  letter-spacing: 0.1vw;
  font-weight: 500;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

#home > h1 {
  margin-bottom: 8vh;
  font-size: 2vw;
  line-height: 1.1;
}

#home > h1 > span {
  color: rgb(149, 67, 67);
  /* color: #646cff; */
  font-size: 2.5vw;
}

#home > h2 {
  margin-bottom: 4vh;
  font-size: 1.5vw;
  font-weight: 200;
}

#home li {
  list-style: none;
}

.btnBundle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}

.btnBundle li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 10vw;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1vw;
  font-family: inherit;
}

#termContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}

.definition {
  margin: 2vh 0;
  font-size: 1.55vw;
  text-align: center;
  width: 60vw;
}

#textBox {
  margin: 2vh;
  width: 50vw;
  padding: 1.5vh;
  text-align: center;
  font-size: 1.5vw;
  font-family: inherit;
  letter-spacing: 0.075em;
  border-radius: 1em;
}

.termBtn {
  margin-top: 1vh;
  padding: 0.6em 1.2em;
  font-size: 0.85vw;
  text-align: center;
  border-radius: 8px;
}

#termContent h3, #termContent h2 {
  font-weight: 300;
  font-size: 1vw;
}

#termContent h2 {
  margin: 8vh 8vw;
  align-self: end;
}

#termContent h3 {
  margin-top: 5vh;
  display: flex;
  align-items: center;
}