:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 400;
  --btnBlk: #1a1a1a;
}

html {
  box-sizing: border-box;
  background-color: aliceblue;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: var(--btnBlk);
  color: whitesmoke;
  transition: border-color 0.25s;
  transition: letter-spacing 0.25s;
}

button:hover {
  background-color: #646cff;
  border-color: var(--btnBlk);
  letter-spacing: 0.1em;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home > h1 {
  margin: 3rem;
  font-size: 3.2em;
  line-height: 1.1;
}

#home > h1 > span {
  color: #646cff;
  font-size: 1.2em;
}

#home > h2 {
  margin: 2.2rem;
  font-size: 2.2em;
  font-weight: 200;
}

#home li {
  list-style: none;
}

.btnBundle {
  display: flex;
  gap: 5rem;
}

.btnBundle li button {
  width: 10em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
}

#termContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.definition {
  margin: 3rem;
  font-size: 2.6em;
  text-align: center;
  padding: 0rem 10rem;
}

#textBox {
  margin: 1rem;
  height: 6rem;
  width: 60rem;
  text-align: center;
  font-size: 2.6em;
  font-family: inherit;
  letter-spacing: 0.05em;
  border-radius: 1em;
}

.termBtn {
  margin: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  text-align: center;
  border-radius: 8px;
}
